# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# Environment files
.env

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Migrations cache leftovers
*.sqlite3